/*** BASIC ***/
body{
	margin: 0;
	background: black;
}

header{
	position: fixed;
	width: 100%;
	background-color: white;
	border-bottom: 4px solid black;
}

article {
	background: white;
	padding-top: 120px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 80px;

}

footer {
	background: black;
	padding-left: 100px;
	padding-right: 20px;
	color: white;
	text-align: right;
}

p{
	font-family: 'adriene', 'georgia', serif;
	font-size: 1em;
	line-height: 1.5em;
}

h1{
	font-family: 'futura-pt', 'helvetica', 'arial', sans-serif;
	font-weight: 500;
	font-size: 3em;
	margin: 0;
}

h2{
	font-family: 'futura-pt', 'helvetica', 'arial', sans-serif;
	font-weight: 300;	
	font-size: 2em;
	margin: 10px 0;
}	

h3{
	font-family: 'futura-pt', 'helvetica', 'arial', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	border-bottom: 2px solid black;
	padding-bottom: 2px;
	width: 100%;
	text-align: right;
	margin-bottom: 5px;
}

h4{
	font-family: 'futura-pt', 'helvetica', 'arial', sans-serif;
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: 500;
	margin: 5px 0 5px 0;
}

a{
	color: black;
	text-decoration: none;
}

a:visited{
	color: black;
}

a:hover{
	color: #888;
	text-decoration: underline;
}

label, input{
	font-family: 'futura-pt', 'helvetica', 'arial', sans-serif;
	font-size: 1em;
}

input.flat-button {
	background: white;
	border: 2px solid black;
	padding: 5px 20px;
	text-transform: uppercase;
}

input.flat-button:hover {
	background: #DADADA;
}

/*** PAGE WRAPPER ***/
.wrapper{
	width: 1250px;
	margin: 0 auto;
}


/*** HEADER ***/

div.logo-box{
	width: 100px;
	float: left;
	margin: 10px 30px;
}

img.fplogo{
	width: 100%;
}

div.credentials {
	font-family: 'futura-pt', 'helvetica', 'arial', sans-serif;
	font-size: 1em;
	font-weight: 300;
	text-transform: uppercase;
	position: absolute;
	right: 15px;
	top: 65px;
}

.banner {
 	width: 800px;
 	text-align: center;
 	margin-top: 15px;
 	margin-bottom: 0;
 	margin-left: auto;
 	margin-right: auto;
}	

/*** NAV TREE ***/


/*** FOOTER ***/

div.bottom-nav {

}

.bottom-nav-item{
	float:left;
	margin-right: 50px;
}

div.bottom-nav ul li:before {
	display: none;
}

div.bottom-center{


}

p.copyright {
	font-family: 'adriene', 'georgia', 'serif';
	font-size: .8em;

}


/*** USER ***/
.nameplate{
	width: 400px;
	padding: 15px;
	border: 2px solid #DADADA;
	float: left;
	margin-top: 24px;
}

.nameplate-image {

}

.nameplate-name{

	}

.nameplate-vitals{
	font-style: italic;
	font-size: 0.8em;
}

.nameplate-edit {
	font-family: 'futura-pt', 'helvetica', 'arial', sans-serif;
	font-weight: 300;
	text-align: right;
	text-transform: uppercase;
}

.user-organization{
	width: 600px;
	margin-left: 600px;
	margin-top: 0;
	}

.list-col-delete{
	display: inline-block;
	width: 20px;
}

.list-col{
	display: inline-block;
	width: 185px;
}

.list-col-notes{
	display: inline-block;
	width: 380px;
}

.list-header{
	clear: right;
	border-bottom: 1px solid #DADADA;
	text-align: center;
}

.list-line {
	clear: right;
	text-align: center;
	border-bottom: 1px dashed #DADADA;
}

.list-line-last {
	clear: right;
	text-align: center;
}

.user-assignments{
	padding-top: 20px;
	clear: both;
	width: 1200px;
}



/*** ORGANIZATION ***/

.organization-members{
	width: 600px;
	margin-left: 640px;
	margin-top: 0;
	margin-bottom: 50px;
}

.organization-flatplans{
	display: inline-block;
	float: left;
	clear:both;
	width: 400px;
}


.organization-assignments{
	display: inline-block;
	width: 700px;
	margin-left: 140px;
}

.list-col-page{
	display: inline-block;
	width: 100px;
	}

.add-line {
	text-align: center;
	width: 100%;
	padding-bottom: 50px;
}

div.add-line p{
	font-family: 'futura-pt', 'helvetica', 'arial', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

.add-member-line{
	width: 100%;
	text-align: right;
	font-family: 'futura-pt', 'helvetica', 'arial', sans-serif;
	font-size: 1em;
	margin-top: 10px;
}


/*** FLATPLAN ***/
.flatplan-info{
 	border: 2px solid #DADADA;
 	margin-top: 20px;
 	margin-bottom: 40px;
 	text-align: center;
 	 }

.flatplan-info-block{
	display: inline-block;
	width: 250px;
	text-align: center;
}

.flatplan-graphics{
	width: 100%;
}

.flatplan-page-wrap{
	width: 120px;
	display: inline-block;
	margin-right: -2px;
	margin-bottom: 40px;
}

.flatplan-page{
	border: 2px solid black;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
}

.flatplan-cover{
	border: 2px solid black;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
}

.flatplan-back{
	border: 2px solid black;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
}

.flatplan-page-number{
	text-align: center;
}

div.flatplan-page-number p{
	font-family: 'futura-pt', 'helvetica', 'arial', sans-serif;
	margin: 5px;
	}


.flatplan-page-spacer{
	display: inline-block;
	width: 20px;
}

/*** PAGE ***/
.page-wrapper{
	width: 350px;
	text-align: center;
	display: inline-block;
}

.page-outline{
	border: 2px solid black;
	width: 200px;
	margin: 0 auto;
	padding: 130px 0;
}

.page-info{
}

.page-block{
	margin: 50px 0px;
	display: block;
	}

.page-notes{
	display: inline-block;
	width: 800px;
	margin-left: 80px;
	vertical-align: top;
}

.page-status{
	clear: both;
	display: inline-block;
	width: 350px;
	vertical-align: top;
}

.page-status-line{	
	margin: 15px 0;
	text-align: center;
}

.page-status-line-item{
	width: 114px;
	//margin: 0 15px;
	text-align: left;
	display: inline-block;
}

.page-status-line-close{
	text-align: left;
	width: 114px;
	margin: 0 auto;
}

.page-assignments{
	width: 800px;
	margin-left: 80px;
	display: inline-block;
	vertical-align: top;
	}

.page-create-assignments {
	width: 350px;
	display: inline-block;
	text-align: right;
	vertical-align: top;
}

.assignment-line{
	margin-top: 15px;
	}

.assignment-line-description{
	margin-top: 15px;
	text-align: left;
}


.assignment-line-button{
	text-align: center;
	margin-top: 15px;
	}

/*** HOMEPAGE ***/
.welcome-wrap{
width: 800px;
margin-left: auto;
margin-right: auto;
}

.welcome{
	width: 100%;
	text-align: center;
}

div.welcome h1 {
	margin-left:0;
}

.welcome-message{
	margin: 50px;
}

.features-box {
	width: 200px;
	display: inline-block;
	border: 2px solid black;
	padding: 0 15px;
	margin: 0 15px;
}
